<% if (locals.flash && locals.flash.errors.length>0) {%>
    <div class="ui negative message ">
        <ul>
            <% locals.flash.errors.forEach(function(el){%>
                <li>
                    <%= el %>
                </li>
                <%});%>
        </ul>
    </div>
    <%}%>

    <% if (locals.flash && locals.flash.infos.length>0) {%>
        <div class="ui positive message ">
            <ul>
                <% locals.flash.infos.forEach(function(el){%>
                    <li>
                        <%= el %>
                    </li>
                    <%});%>
            </ul>
        </div>
        <%}%>
